@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input, button, textarea, .transition-2 {
  transition: all .2s;
}

.scroller {
  overflow: auto;
}
.scroller::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
.scroller::-webkit-scrollbar-thumb {
  background: #dbdee0;
  border-radius: 1rem;
  border: 3px solid transparent;
  background-clip: padding-box;
}
.scroller-dark::-webkit-scrollbar-thumb {
  background: #42434588;
  border-radius: 1rem;
  border: 3px solid transparent;
  background-clip: padding-box;
}
.scroller-light::-webkit-scrollbar {
  width: 10px;
}
.scroller-light::-webkit-scrollbar-thumb {
  background: #eceef0;
  border-radius: 1rem;
  border: 3px solid transparent;
  background-clip: padding-box;
}
.scroller-none::-webkit-scrollbar {
  width: 0;
}

ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}

/* markdown */
.markdown-content {
  background: transparent !important;
  min-width: 0;
}
.markdown-content * {
  background: transparent !important;
}
.markdown-content code {
  background: #f6f8fa !important;
}
.markdown-content pre .copied {
  background: #c7c8cb !important;
}
.markdown-content * {
  font-family: 'Poppins', sans-serif;
}
.markdown-content code {
  width: 100%;
}
.markdown-content code::-webkit-scrollbar {
  height: 12px;
}
.markdown-content code::-webkit-scrollbar-thumb {
  background: #dbdee0;
  border-radius: 1rem;
  border: 3px solid transparent;
  background-clip: padding-box;
}
.markdown-content code * {
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
}
.markdown-content p, .markdown-content li {
  font-size: 15px !important;
}
.markdown-content h1 {
  font-size: 24px !important;
}
.markdown-content h2 {
  font-size: 20px !important;
}
.markdown-content h3 {
  font-size: 18px !important;
}

.markdown-content.small code {
  background: #000;
}
.markdown-content.small code * {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}
.markdown-content.small p, .markdown-content.small li {
  font-size: 13px !important;
}
.markdown-content.small h1 {
  font-size: 22px !important;
}
.markdown-content.small h2 {
  font-size: 18px !important;
}
.markdown-content.small h3 {
  font-size: 16px !important;
}

@media screen and (max-width: 960px) {
  .scroller::-webkit-scrollbar {
    width: 0;
  }
}